.thumbnail-wrapper {
  transition: width 0.5s;
}

.thumbnail-wrapper:hover {
  z-index: 2;
  position: absolute !important;
  width: 50vw !important;
}

.thumbnail-wrapper:hover .bg-dark {
  display: none;
}

.image-grid {
  display: grid;
  position: relative;
  grid-auto-flow: row;
  place-items: center;
  grid-template-rows: repeat(2fr);
}

.image-grid-2 {
  grid-template-columns: 50% 50%;
}

@media (min-width: 768px) {
  .image-grid-md-3 {
    grid-template-columns: 33% 33% 33%;
  }
}

@media (min-width: 992) {
  .image-grid-lg-4 {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

.image-grid-item {
  margin-bottom: 20%;
  width: 80%;
  transition: scale 0.5s;
  position: relative;
  display: block;
}

.image-grid-item:hover {
  scale: 1.5;
  z-index: 1;
}

.image-grid-input {
  display: none;
}

.image-grid-item:hover span {
  display: none;
}
